body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    border: 10px black solid;
    border-radius: 20px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#value-slider {
    width: 15%;
    margin: auto;
}

#button-container {
    margin: 5px 0;
    justify-content: center;
}

#create-grid {
    width: 250px;
    height: 60px;
    padding: 15px;
    font-size: 26px;
    margin: 30px auto;
}

#input-container {
    display: flex;
    flex-direction: column;
}
