body {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    margin-top: 50px;
    min-height: 100vh;
}

main {
    flex: 1;
}

#etch-a-sketch-container {
    margin: auto;
    width: 650px;
    height: 450px;
    background-color: red;
    border-radius: 5px;
}

#title {
    margin-top: 15px;
    margin-bottom: 15px;
    color: gold;
}

.grid-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    border: 5px black solid;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 25px;
    background-color: #fff;
}

#value-slider {
    width: 15%;
    margin: auto;
    margin-top: 15px;
}

#button-container {
    margin: 5px 0;
    justify-content: center;
}

#input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15px;
    color: gold;
    font-size: 1.3em;
    width: 100%;
}

button {
    padding: 10px;
    border-radius: 5px;
}

button:hover, button:focus {
    padding: 12px;
    font-weight: bold;
    font: 1.1em;
}

button:focus {
    background-color: gold;
}

#value-slider::-webkit-slider-runnable-track {
    background-color: gold;
    border-radius: 10px;
}

#left-circle, #right-circle {
    position: absolute;
    background-color: #fff;
    top: -10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
}

#left-circle {
    left: 25px;
}

#right-circle {
    right: 25px;
}

footer {
    margin: 15px 0;
}
